@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(89.71deg, #96AED2 0.27%, #75AED5 94.13%);
  background-repeat: no-repeat;
}

.logo{
  position: absolute;
  top: 0px;
  width:  300px;
}

.login-reg-container{
  position: relative;
  height: 600px;
  width: 420px;
}

.login-transition{
  position: absolute;
  -webkit-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -o-transition:opacity 0s;
  transition:opacity 0s;
  width: 0%;
  height: 0%;
  opacity: 0;
  overflow: hidden;
}

.login-transition.visible{
  -webkit-transition:opacity 2s;
  -moz-transition:opacity 2s;
  -ms-transition:opacity 2s;
  -o-transition:opacity 2s;
  transition:opacity 2s;
  width: 100%;
  opacity: 100;
  height: 100%;
}

/* .MuiInputBase-input{
  width: 200px!important;
} */

@media(max-width:768px){
  .login-reg-container{
    margin-top: 3rem;
    transform: scale(0.80);
  }
}


@media(max-width:400px){
  .login-reg-container{
    margin-top: 0rem;
    transform: scale(0.75);
  }
}