$search_size: 300px;

.section__1__profile{
  gap: 2rem;
  width: 30%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(7.4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.search_list{
 z-index: 2;
  display: flex;
  padding: 10px 0;
  gap:0.5rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  bottom: -305px;
  width: 100%;
  height: 300px;
  max-height: $search_size;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid rgba(255, 255, 255, 0.46);
  color: #8cbada;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;


  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin:5px 0;
    height: 90%;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(132, 197, 230, 0.5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 197, 230, 0.8);
  }
}

.search_list_empty{
  height: $search_size;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_list_item{
  z-index: 5;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 95%;
    height: 70px;
    padding: 0.3rem 1rem;
    flex-shrink: 0;
    background: rgba(132, 197, 230, 0.14);
    border: 1px solid rgba(132, 197, 230, 0.5);
    backdrop-filter: blur(15.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}

.section__1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 90%;
    
}

.section__2{
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 60%;
    height: 90%;

    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}


.profile_bar{
  padding: 0 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 14%;
    
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7.4px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 10px;
}

.profile__search{
  flex-grow: 1;
  margin-left: 0.5rem;
}


.profile{
    cursor: pointer;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 100%;
}

.search_bar{
    /* flex-grow: 1; */
    margin:0 1rem ;
    height: 40px;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}

.emoji{
  position: absolute;
  bottom: 42px;
}

.chat_profiles_container{
  z-index: 1;
    height:82%;
}

.chat_profiles{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.46);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}

.chat_profiles::-webkit-scrollbar {
    width: 5px;
  }

  .chat_profiles::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 20px 0;
    height: 90%;
  }

  .chat_profiles::-webkit-scrollbar-thumb {
    background: rgba(132, 197, 230, 0.5);
    border-radius: 10px;
  }

  .chat_profiles::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 197, 230, 0.8);
  }
  
.chat_profile,.chat_profile_selected{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 90%;
    height: 20%;
    flex-shrink: 0;
    gap: 0.3rem;
    background: rgba(132, 197, 230, 0.14);
    border: 1px solid rgba(132, 197, 230, 0.5);
    backdrop-filter: blur(15.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}

.chat_profile_selected{
    background: rgba(128, 211, 252, 0.4);
}

.chat__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat__heading{  
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    color: #090101;
}

.chat_empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #2a5e96;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chat__msg{
    color: #5495E0;
}

/*Section 2*/

.chat_header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 90%;
    font-size: 20px;
    color: #090101;
    font-weight: 500;
    height: 8%;
    margin-bottom: 3%;
}

.chat_header_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile_chat{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
}

.chat_body{

    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7.4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}
.chat_messages{
    width: 95%;
    height: 86%;
    overflow-y: scroll;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.chat_messages::-webkit-scrollbar {
    width: 5px;
  }

  .chat_messages::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 1px 0;
    height: 90%;
  }

  .chat_messages::-webkit-scrollbar-thumb {
    background: rgba(132, 197, 230, 0.5);
    border-radius: 10px;
  }

  .chat_messages::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 197, 230, 0.8);
  }

  .styled_textarea::-webkit-scrollbar {
    width: 5px;
  }

  .styled_textarea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 5px 0;
    height: 90%;
  }

  .styled_textarea::-webkit-scrollbar-thumb {
    background: rgba(132, 197, 230, 0.5);
    border-radius: 10px;
  }

  .styled_textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 197, 230, 0.8);
  }


.chat_message{
    color: #090101;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: fit-content;
    padding: 7px;
    font-size: 14px; 
    background: rgba(44, 153, 221, 0.12);
    border: 1px solid rgba(44, 153, 221, 0.1);
    border-radius: 6px;
}

.chat_message_blank{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 100%;
  color: #5a86d2;
  padding: 7px;
  font-size: 18px; 
  border: 1px solid rgba(44, 153, 221, 0.1);
  border-radius: 6px;
}


.chat_send{
    display: flex;
    height: fit-content;
    padding: 8px;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    background: rgba(44, 153, 221, 0.12);
    border: 1px solid rgba(44, 153, 221, 0.1);
    border-radius: 10px;
}


.close_chat{
  display: none;
}



@media(max-width:1024px){
  .section__1{
    display: none;
    width: 90%;
  }
  .section__2{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }


  .chat_body{
    width: 95%;
    height: 85%;
  }

  .section__1__profile{
    width: 90%;
  }

  .close_chat{
    display: unset;
  }
}

